---
version: 2
interactions:
    - id: 0
      request:
        host: api.techdestination.com
        body: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWdpc3RyYXRpb25ObyI6IlotMjUtMTcxNTYvMjUiLCJ0eXBlIjoiY29tcGFueSIsImlhdCI6MTc2MTEzMTM3NywiZXhwIjoxNzY4OTA3Mzc3fQ.fQp_CW9PGmoAesg_1rM-jva6KFON0QhIOSeYmbLGeao"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.techdestination.com/api/verify-certificate
        method: POST
      response:
        body: '{"message":"Certificate verified successfully","data":{"registrationNo":"Z-25-17156/25","type":"company","iat":1761131377,"exp":1768907377,"name":"OUTSENTIA (PRIVATE) LIMITED","validFrom":"Oct 2025","validTill":"Sep 2026","isValid":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ee-ugsL2xnOQUOP3YLwRsejQdyywfI"
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 1.030460708s
