---
version: 2
interactions:
    - id: 0
      request:
        host: api.techdestination.com
        body: '{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWdpc3RyYXRpb25ObyI6IkZMMjEvUFNFQi8yMDI2LzI1Mzg2IiwidHlwZSI6ImZyZWVsYW5jZXIiLCJpYXQiOjE3Nzc4ODU3MTQsImV4cCI6MTc4NTY2MTcxNH0.aNkTbTkwsatuA95aU3NVMjsy_7Bh6hoRJa0pLQDFXuw"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.techdestination.com/api/verify-certificate
        method: POST
      response:
        body: '{"message":"Certificate verified successfully","data":{"registrationNo":"FL21/PSEB/2026/25386","type":"freelancer","iat":1777885714,"exp":1785661714,"name":"Mubeen Ghauri","validFrom":"May 2026","validTill":"Apr 2027","isValid":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ea-bEfV0i6tRqzBbBxSZFFom7eEUGo"
            Origin-Agent-Cluster:
                - ?1
        status: 200 OK
        code: 200
        duration: 350.658ms
